* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  width: 971px;
  height: 943px;
  background: #2e0549;
  display: flex;
  flex-direction: row;
}

main {
  max-width: 500px;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.demo:not(:empty) {
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  border-radius: 0.2rem;
  padding: 1rem;
  margin-bottom: 1rem;
}

input[type="text"] {
  display: block;
}

h1 {
  color: #fff;
  font-family: "Noto Sans";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 45px; /* 125% */
  width: 374px;
  height: 155px;
  flex-shrink: 0;
  margin: 88px 89px 0 83px;
}
/**
  💡 Vous aurez besoin de:
    - input:focus
    - input:invalid
    - input:checked ou div:has(input:checked)
*/

form {
  background-color: white;
  display: flex;
  width: 388px;
  padding: 25px;
  flex-direction: column;
  align-items: flex-start;
  gap: 36px;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  margin: 64px 37px 58px 89px;
}

h1 strong {
  color: #e20c9f;
}

.intérêts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  align-self: stretch;
}
.intérêts p {
  color: #666;
  font-family: "Noto Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  gap: 10px;
  margin: 10px;
}

input[type="radio"] {
  display: none;
}

label:has(:checked) {
  background-color: rgba(226, 12, 159, 1);
  color: #fff;
}

.radios {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  gap: 10px;
  align-self: stretch;
  flex-wrap: wrap;
}

label {
  color: #e20c9f;
  text-align: center;
  font-family: "Noto Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #e20c9f;
  background: var(--W-Background, #fff);
}

.Inputs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}
